{% extends 'base.html.twig' %}

{% block title %}Ville index{% endblock %}

{% block body %}
    
    <div class="text-center">
        <h1>Liste des Ville</h1>
        <a href="{{ path('ville_new') }}" class="btn btn-success"> <i class="fa fa-plus"></i> Ajout Ville</a>
    </div>
    <table class="table table-striped container">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Pays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
    
        {% for ville in villes %}
            <tr>
                <td>{{ ville.id }}</td>
                <td>{{ ville.label }}</td>
                <td>{{ ville.pays.label }}</td>
                <td>
                    <a href="{{ path('ville_show', {'id': ville.id}) }}" class="btn btn-primary">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('ville_edit', {'id': ville.id}) }}" class="btn btn-warning">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
