{% extends 'base.html.twig' %}

{% block title %}Myblog{% endblock %}

{% block body %}
    <h1 class="text-center">Consulter article</h1>
<div class="container">
    <div class="row">
        <div class="col-6 mx-auto d-flex">
    
            <a href="{{ path('myblog_index') }}" class="btn btn-primary mr-2">back to list</a>
        
            <a href="{{ path('myblog_edit', {'id': myblog.id}) }}" class="btn btn-warning mr-2">edit</a>
        
            {{ include('myblog/_delete_form.html.twig') }}
        </div>
    </div>
</div>
    <table class="table container">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ myblog.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ myblog.titre }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ myblog.categorie.label }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ myblog.description }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ myblog.dateCreation ? myblog.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    <img src="{{ myblog.img }}" width="750px" height="600px" alt="">
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
