{% extends 'base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block body %}
    <h1>Pays</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pay.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ pay.label }}</td>
            </tr>
            <tr>
                <th>Villes</th>
                <td>
                    <ul>
                        {% for ville in pay.villes %}
                            <li>{{ ville.label }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            

        </tbody>
    </table>

    <a href="{{ path('pays_index') }}">back to list</a>

    <a href="{{ path('pays_edit', {'id': pay.id}) }}">edit</a>

    {{ include('pays/_delete_form.html.twig') }}
{% endblock %}
