{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
<div class="container">
        <h1 class="text-center">Liste des Articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.titre }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.categorie }}</td>
                <td>
                    <a class="btn btn-primary btn-block" href="{{ path('article_show', {'id': article.id}) }}"><i class="fa fa-eye"></i></a>
                    <a class="btn btn-warning btn-block mt-2" href="{{ path('article_edit', {'id': article.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}">Create new</a>
</div>
{% endblock %}
